body {
  background-color: #e7e6e2;
}
p {
  text-align: justify;
}
.mainborder {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  padding: 10px 20px 20px 20px;
  background-color: #ffffff;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
}
.main_menu {
  text-align: center;
  margin-top: 15px;
}
.main_logo {
  margin-bottom: 20px;
}
.menu_smth {
  position: relative;
  top: 70px;
  height: 30px;
  left: 30px;
}
a {
  color: #000000!important;
  text-decoration: none!important;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ffffff!important;
}
a:hover,
a:focus {
  color: #999999!important;
  text-decoration: none!important;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #F08421!important;
  text-decoration: none;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ffffff!important;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #ffffff!important;
  border-color: #428bca;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 10px 10px;
  color: #777777!important;
  text-decoration: none;
  /*
  text-shadow: 0 1px 0 #ffffff;
  */
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image:         linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  background-repeat: repeat-x;
}
.navbar .nav > li > .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.navbar .nav > li > .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.navbar-fixed-bottom .nav > li > .dropdown-menu:before {
  top: auto;
  bottom: -7px;
  border-top: 7px solid #ccc;
  border-bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.2);
}
.navbar-fixed-bottom .nav > li > .dropdown-menu:after {
  top: auto;
  bottom: -6px;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.img_main {
  border: none;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin:0px 6px 0px 6px;
}
.img_case {
  border: none;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin:0px 0px 0px 10px;
}
.img_a {
  border: none;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.img_b {
  border: none;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.blog_richtext {
  display: none;
}
iframe {
  border: 0px;
}
.formelement, textarea, input[type="text"], input[type="tel"], input[type="email"] { 
  background-color: #ebebeb;
  font-size: 0.875em;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 20px;
  line-height: 1;
}
.namesclass {
  width: 94.4%!important;
  display: inline;
  margin: 0px 0px 20px 0px!important;
}
.emailclass {
  width: 94.4%!important;
  display: inline;
  margin: 0px 0px 20px 0px!important;
}
.telephoneclass {
  width: 94.4%!important;
  display: inline;
  margin: 0px 0px 20px 0px!important;
}
.addressclass {
  width: 94.4%!important;
  display: inline;
  margin: 0px 0px 20px 0px!important;
}
.contentsclass {
  width: 97.50%;
  margin: 0px 0px 20px 0px!important;
}
table {
  width: 100%;
}
.prefooter {
  background:#737914;
  padding: 20px 20px 20px 20px;
  text-align:center;
  width: 980px;
  margin: 0px auto 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;}
.prefoot_img {
  width: 32px;
  height: 32px;
  margin: 0 5px;
}
footer {
  padding: 0px!important;
  margin-top: 0px!important;
}
.prefoot_text {
  margin-top:-20px;
  margin-left:-15px!important;
}
.no_foot_margin {
  margin: 0px!important;
}
.foots {
  text-align: right;
  float: right!important;
  margin-right: 30px!important;
}